<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


    <header>
      <h1>Show Page for <%=author.name%></h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/authors">Author Index</a></li>
        </ul>
      </nav>
    </header>

    <section>
      <h2>Articles Written by this Author:</h2>
      <ul>
        <% for (let i = 0; i < author.articles.length; i++) { %>
          <li>
            <a href="/articles/<%= author.articles[i]._id %>">
              <%= author.articles[i].title %>
            </a>
          </li>
        <% } %>
      </ul>
    </section>


    <main>
      <section>
        <h2>Author Attributes</h2>
        <ul>
          <li>Name: <%=author.name%></li>
        </ul>
      </section>
    </main>


    <section>
      <a href="/authors/<%=author.id%>/edit">Edit</a>
    </section>


    <section>
      <form action="/authors/<%=author.id%>?_method=DELETE" method="POST">
      <button type="submit">Delete an Author</button>
    </section>


  </body>
</html>
